@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}
body {
    font-size: 1.7rem;
    font-family: Arial, Helvetica, sans-serif;
    background: #ffd3ac;
    color:  #503a2c;
    padding: 4rem;
}
h2 {
    text-align: center;
    margin-bottom: 5rem;
    font-size: 5rem;
}
.all-products {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.product{
	overflow: visible;
	background: #ffffff;
	color: #211f1e;
	text-align: center;
	width: 240px;
	height: 400px;
	padding: 2rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	border-radius: 1.2rem;
	margin: 2rem;
	border-radius: 1px;
}

.product .product-title, .product .product-price {
	font-size: 25px;
}

.product:hover img{
	scale:  1.1;
}

.product:hover {
	box-shadow: 5px 15px 25px #eeeeee;
}

.product img {
	height: 200px;
	margin: 1rem;
	transition: all 0.3s;
	margin: -15.5rem -1.5rem 1rem -1.5rem;         
    
}

p {
	font-size: 1.1rem;
}

.product a:link, .product a:visited{
	color: #ececec;
	display: inline-block;
	text-decoration: none;
	background-color: rgb(226, 110, 15);
	padding: 1.2rem 3rem;
	border-radius: 1rem;
	margin-top: 1rem;
	font-size: 14px;
	transition: all 0.2s;
}

.product a:hover{
	transform: scale(1.1);
    
}

.product .btn {
	color: rgb(226, 110, 15);
}

.product-title{
	color: rgb(11, 38, 129);
}

.product-price{
	color: rgb(11, 38, 129);
}
